<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ReadToMe</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="./lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="./lib/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="./lib/angular-aria/angular-aria.min.js"></script>
	
	<script type="text/javascript" src="./lib/angular-material/angular-material.min.js"></script>

	<script type="text/javascript" src="./lib/ocrad.js/ocrad.js"></script>

	<script type="text/javascript" src="./src/js/responsiveVoice.js"></script>

	<script type="text/javascript" src="./src/js/script.js"></script>
	<script type="text/javascript" src="./src/js/read-to-me.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel='stylesheet' href='./lib/angular-material/angular-material.min.css'>
    <link rel='icon' type='image/png' href='./src/assets/favicon.crush.png'>
</head>
<body ng-app="ReadToMeApp" layout="column">
	<div ng-controller="ReadToMeController">
		<md-content>
			<md-toolbar layout="row" class="md-warn">
				<div class="md-toolbar-tools">
					<h1>ReadToMe</h1>
				</div>
			</md-toolbar>
			<div layout="column" flex="100">
	    		<section layout="row">
	    		 	<md-button flex="33" class="md-raised md-warn" ng-click="toggleSpeak();">
	    		 		<span ng-if="!speak">ReadToMe</span>
	    		 		<span ng-if="speak">Pause</span>
	    		 	</md-button>
	    		</section>

	    		<section layout="row">
	    			<md-button class="md-raised" ng-click="showImportDialog($event)">Import from...</md-button>
					<md-button class="md-raised" ng-click="script.clear();">Clear Script</md-button>
				</section>

				<section layout="row" layout-padding>
			        <md-input-container flex="100">
						<label>Script</label>
						<textarea ng-model="script.contents" md-maxlength="10000"></textarea>
					</md-input-container>
				</section>
			</div>
		</md-content>
	</div>
</body>
</html>