<!DOCTYPE html>
<html lang='en'>
<head>
	<title>ReadToMe</title>
	<meta charset="utf-8">

	<link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap-theme.min.css">
	
	<script type="text/javascript" src="./lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="./lib/ocrad.js/ocrad.js"></script>

	<script type="text/javascript" src="./src/js/responsiveVoice.js"></script>

	<script type="text/javascript" src="./src/js/read-to-me.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel='icon' type='image/png' href='./src/assets/favicon.crush.png'>
</head>
<body ng-app="ReadToMeApp">
	<div class="container" ng-controller="ReadToMeController">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-lg btn-primary" ng-click="toggleSpeak();">ReadToMe</button> 
		</div>
		<input id="fileUpload" type="file" name="pic" accept="image/*" ng-model="fileUpload"/><button type="button" class="btn btn-primary" ng-click="processFile();">Process File</button> 
		<textarea class="col-xs-12 form-control" ng-model="script"></textarea>
	</div>
</body>
</html>